<h2>New Book</h2>
<Form action="/books" method="POST" enctype="multipart/form-data"> <!--tells the server that our form is using multipartdata(like files)--> 
<%- include('formFields') %>
<a href="/books">Cancel</a>
<button class="btn btn-primary" type="submit">Create</button>
</Form>