<h2>Recently Added</h2>
<div>   <!-- This page is for the main index page '/'-->
    <% books.forEach(book => { %>   <!--In order to get books, we need to pass the books property down in the index route-->
        <img height="150" width="100" src="<%= book.coverImagePath %>">
    <% }) %>
</div>